body {
  max-width: 100%;
}
header {
  background-color: #333;
  height: 120px;
  max-width: 100%;
  display: flex;
}
footer {
  background-color: #333;
  height: 90px;
  max-width: 100%;
  color: white;
  text-align: center;
  padding-top: 5px;
}


.logo {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-bar {
  margin-top: 30px;
  margin-left: 200px;
}
.nav-list {
  display: flex;
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
}
.nav-item {
  margin-right: 30px;
  margin-left: 30px;
}
.home-page-image {
  margin-top: 30px;
}

#welcome-message {
  text-align: center;
  font-size: 40px;
}
#fname {
  display: block;
}
#lname {
  display: block;
}
#email {
  display: block;

}
#subject {
  display: block;
}

